.efooter {
  width: 100%;               
  text-align: center;
  font-size: 14px;
  color: #555;
  padding: 20px;
  background-color: #f5f5f5;
  line-height: 1.6;
  box-sizing: border-box;    
  position: relative;        
}


.efooter.sticky {
  position: fixed;
  bottom: 0;
  left: 0;
}

.efooter a {
  color: #0052cc;
  text-decoration: none;
}

.efooter a:hover {
  text-decoration: underline;
}

.commit {
  color: #d9534f; 
}

.heart {
  color: red;
}
