.login-page {
  display: flex;
  justify-content: center; 
  align-items: flex-start;  
  height: 80vh;            
  margin: 0;
  margin-top: 45px;
}


.login-container {
  background-color: #ffffff;
  border: 1px solid #ddd;
  width: 400px;
  height: 400px;             
  border-radius: 12px;
  padding: 30px 30px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}


.ms-login-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #0052cc;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.ms-login-btn:hover {
  background-color: #003d99;
}


.login-container h2 {
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 24px;
  font-weight: 600;
}


.or-text {
  text-align: -webkit-left;
  font-size: 14px;
  margin: 10px 0 15px 0;
  color: #666;
}


form label {
  display: flex;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
}

.ms-login-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.ms-login-btn:hover {
  background-color: #f0f0f0;
}

/* Microsoft logo */
.ms-logo {
  width: 18px;
  height: 18px;
  object-fit: contain;
}
/* Flip wrapper */
.flip-wrapper {
  perspective: 1200px;
}

/* Card */
.flip-card {
  width: 400px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

/* When flipped */
.flip-card.flipped {
  transform: rotateY(180deg);
}

/* Front & back */
.flip-side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Back side */
.flip-back {
  transform: rotateY(180deg);
}
